body{
    background-color: black;
}

h1{
    color:white;
}

h2{
    color:red;
}

p{
    background-color: red;
}


/* @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
  } */

  body {
    background-color: aqua;
    font-family: 'Roboto', sans-serif;
  }